/* Bootstrap site specific override rules */
table thead tr th {text-align: center; background-color:silver}
table tbody tr td.number {text-align: right;}
/* background-color: lavender; */
.container-fluid {padding: 10px;}
.header {padding:10px;}
.footer {text-align: left; padding:10px;}
.title-in-header {font-size: 20pt; color: gray; padding: 0 20px;}
.title-in-footer {font-size: 10pt; color: silver; padding: 0 20px;}
.field-label {color:gray; padding-right: 2px;}
.highlight {color: blue; background-color:khaki; padding: 2px;}

.concept-div {padding:10px;}
.glossary-hit {padding:10px;}

/* the buttons that make changes to the database */
.action-buttons * {padding: 0 4px; margin: 2px 0;}

a.btn-info {margin-left: 4px;}
.green-url a {color:green;}

.property-name {margin-left:15px;}

.view-concept {border: silver 1px solid; margin:10px; padding:10px;border-radius: 7px;}
.view-concept * {font-size: 16px;}

/* A-Z Letter Bar Menu */
.letter-bar * {font-size: 16pt; padding: 0 12px; margin: 2px 0;}